{
	"env": { "browser": true },
	"ignore": [],
	"plugins": [
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}],
		["module-resolver", {
			"alias": {
				"@common": "./src/common",
				"@client": "./src/client",
				"@server": "./src/server"
			}
		}],
		"transform-object-rest-spread",
		"ramda"
	],
	"presets": [
		"env"
	]
}
