{
	"env": {
		"browser": true
	},
	"ignore": [],
	"plugins": [
		[
			"transform-runtime",
			{
				"polyfill": false,
				"regenerator": true
			}
		],
		[
			"module-resolver",
			{
				"alias": {
					"client": "./src/client",
					"tiles": "./src/tiles"
				}
			}
		],
		"transform-object-rest-spread",
		"ramda"
	],
	"presets": [
		"env"
	]
}
